// variables

//colours
$primary: #183152;
$secondary: #abc8e2;
$accent: #ffc800;
$accent-light: #e1e6fa;
$accent-dimmed: #375d81;
$dark: #030a23;

//media queries
$tablet: 600px;
$desktop: 768px;
$desktop-large: 1000px;

//widths
$max-width: 1200px;

//transitions
$cubic-bezier: cubic-bezier(0, 1.01, 0.53, 0.93);

// pink accent = $accent: #ec6969;
