@import "../../styles/variables.scss";

.snippets {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.snippetwrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  .snippet {
    background: $dark;
    padding: 1rem;
    border-radius: 10px;
    color: $accent-light;
    transition: all 400ms $cubic-bezier;
    cursor: pointer;
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 15px 15px 0px rgba(2, 6, 26, 0.3);

      header h3 {
        color: $accent;
      }
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      h3 {
        font-weight: 500;
        font-size: 1.075rem;
        margin: 0 auto 0 0;
        padding-right: 1rem;
        line-height: 150%;
        font-family: "Heebo";
      }

      a {
        color: $secondary;
        margin-left: 0.75rem;
        transition: all 200ms $cubic-bezier;

        &:hover {
          color: $accent;
        }

        &::after {
          content: none;
        }
      }
    }

    p {
      font-size: 0.825rem;
      font-weight: 300;
      margin: 0;
      padding: 0.5rem 0;
    }

    footer {
      color: $accent-dimmed;
      width: 100%;
      display: flex;
      justify-content: space-between;

      p {
        margin: 0;
        font-weight: 500;
        padding: 0;
        font-size: 0.75rem;
      }

      span {
        display: flex;
        p {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  .snippetwrap {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: $desktop-large) {
  .snippetwrap {
    .snippet {
      header h3 {
        font-size: 16px;
      }
      p {
        font-size: 14px;
      }
      footer p {
        font-size: 12px;
      }
    }
  }
}
